/* NumberList.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.input-container > * {
  flex: 1;
}

.number-input,
.random-list-size {
  width: 200px;  /* Adjust the width of the input fields here */
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.number-input:focus,
.random-list-size:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px rgba(54, 209, 220, 0.5);
}

.button {
  height: 50px;
  width: 200px;  /* Adjust the width of the buttons here */
  padding: 10px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.button:hover {
  background: linear-gradient(to right, #5b86e5, #36d1dc);
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4);
}

.button:active {
  transform: scale(0.98);
}
