/* NumberList.css */

.number-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.number-input-container > * {
  flex: 1;
}

.number-input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
  transition: 0.3s; /* add transition */
}

/* Add focus effect for input */
.number-input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px rgba(54, 209, 220, 0.5);
}

.number-input-container button {
  height: 50px;
  padding: 10px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* Add hover effect for button */
.number-input-container button:hover {
  background: linear-gradient(to right, #5b86e5, #36d1dc);
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); /* make the shadow darker */
}

/* Add active effect for button */
.number-input-container button:active {
  transform: scale(0.98);
}
